:root {
  --primary-blue: #6892D5;
  --secondary-teal: #79D1C3;
  --mint-bg: #C9FDD7;
  --surface-white: #F8FCFB;
  --text-dark: #2D3436;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--surface-white);
  color: var(--text-dark);
}

button {
  transition: all 0.3s ease;
  cursor: pointer;
}

button:hover {
  filter: brightness(95%);
}