# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment Variables (Secrets)
.env
server/.env
client/.env

# Build outputs
client/dist/
dist/

# Firebase & OS files
server/config/serviceAccountKey.json
.DS_Store